@use "../../styles/variables" as *;
@use "../../styles/typography";

.booking-list{
    &__titles{
        display: none;
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    .booking-list{
        &__titles{
            display: grid;
            grid-template-columns: 1fr 1.5fr 1.5fr 1fr 1fr 0.5fr;
            padding: 0rem 1.5rem;
            gap: 1.5rem;
            margin: 1rem, 0.5rem;
            
            &--spheadings{
            margin-left: 1.5rem;
            }

            p {
                font-size: 0.8rem;
                text-align: center;
                color: $clr-primary-dk;
            }
        }   
    }
}

@media screen and (min-width: $desktop-breakpoint) {
    .booking-list{
        &__titles{
            
            display: grid;
            grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
            gap: 2.5rem;
            
        
            &--spheadings{
            margin-left: 1rem;
           
            }
            p{
                font-size: 0.6rem;
            }
        }   
       
    }
    }
    