@use "../../styles/variables" as *;

.login {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &__page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__picture {
        display: none;
    }

    &__logo {
        align-self: center;
        margin-top: 2.5rem;
        margin-left: 1rem;
        margin-bottom: 2rem;
    }

    &__welcome {
        display: flex;
        align-self: center;
        justify-content: center;
        font-weight: 600;
        font-size: 1.9rem;
        margin: 0;
        margin-bottom: 1.2rem;
    }

    &__message {
        display: flex;
        margin: 0;
        text-align: center;
        text-wrap: wrap;
        font-size: 0.95rem;
        color: #7b7b7b;
        margin-bottom: 1.7rem;
    }

    &__container {
        padding: 2rem 2.2rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--label {
            margin-bottom: 0.6rem;
            font-size: 0.85rem;
            font-weight: bold;
        }

        &--input {
            padding: 0.75rem 0;
            border-radius: 0.5rem;
            border: 0.06rem $clr-accent-grey solid;
        }

        &--button {
            margin-top: 2rem;
            text-align: center;
        }
    }

    &__form-container {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0;
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    .login {
        &__logo {
            align-self: flex-start;
        }

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2rem 11rem;
        }
    }
}

@media screen and (min-width: $desktop-breakpoint) {
    .login {
        display: flex;
        flex-direction: row;

        &__page {
            width: 70%;
            height: 100%;
        }

        &__welcome {
            display: flex;
            font-size: 1.4rem;
            justify-content: flex-start;
        }

        &__message {
            font-size: 0.75rem;
        }

        &__picture {
            object-fit: cover;
            display: unset;
            filter: blur(0.9rem);
            max-width: 100%;
        }

        &__container {
            padding: 0.8rem 10rem;
            align-content: center;
        }

        &__picture-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30%;
            height: 100vh;
            background-color: rgba(#d9d9d9, 0.2);
        }

        &__message {
            text-align: left;
        }

        &__logo {
            display: flex;
            align-self: flex-start;
            justify-self: flex-start;
        }

        &__form {

            &--label {
                font-size: 0.65rem;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .login {

        &__logo {
            margin-top: 1.5rem;
            margin-left: 2rem;
        }

        &__container {
            display: flex;
            align-content: center;
            height: 100%;
            padding: 3rem 15rem;
        }
    }

    
}