@use "../../styles/variables" as *;

@media screen and (min-width: $desktop-breakpoint) {
        
    .profile--section {
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        padding: 40px 30px;

        &__heading{
            font-size: 1.3rem;
            margin-left: 2rem;
            font-weight: 500;
        }
    }

    .booking{
        padding: 10px 30px;

        &__staff{
            font-size: 1.3rem;
            font-weight: 500;
            width: 7rem;    
        }

        &__menu{
            display: flex;
            justify-content: space-around;
            align-items: center;

            &--buttons{
                background-color: transparent;
                border:none;
            }

            &--icons{
                height: 1.5rem;
            }

            &--input{
                height: 1.5rem;
            }
        }
    }

    .display{
        display: flex;
        width: 5.5rem;
        justify-content: space-around;
    }
}