@use "../../styles/variables" as *;
@use "../../styles/typography";

.main{
   width: 100%;
}

.profile--section{
    display: none;
}

.booking{
    display: none;
}

@media screen and (min-width: $desktop-breakpoint) {


    .profile--section {
        display: flex;
        flex-direction: column;
        padding: 30px 20px;

        &__heading{
            font-size: 1.3rem;
            margin-left: 2rem;
            font-weight: 500;
            width: 5rem;
            height: 3rem;
        }
    }

    .booking{
        padding: 10px 20px;

        &__staff{
            font-size: 1.3rem;
            font-weight: 500;
            width: 5rem;    
        }

        &__menu{
            display: flex;
            justify-content: space-between;
            align-items: center;

            &--buttons{
                background-color: transparent;
                border:none;
            }

            &--icons{
                height: 1.5rem;
            }

            &--input{
                height: 1.5rem;
            }
        }
    }

    .display{
        display: flex;
        width: 5.5rem;
        justify-content: space-around;
    }
}