@use "../../styles/variables" as *;

.button {
  min-width: 5rem;
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;

  &--yellow {
    background-color: $clr-accent-yellow;
    color: $clr-white;
    border: none;
  }

  &--grey {
    background-color: $clr-accent-grey;
    color: white;
    border: none;
  }

  &--red {
    background-color: $clr-accent-red;
    border: none;
  }

  &--red-alt {
    background-color: $clr-white;
    border: 0.12rem solid $clr-accent-red;
    color: $clr-accent-red;
  }

  &--purple {
    background-color: $clr-white;
    border: 0.12rem solid $clr-accent-purple;
    color: $clr-accent-purple;
  }

  &--extra-large {
    width:100%;
    padding: 0.7rem 1.25rem;

  }

  &--large {
    width: 90%;
    padding: 0.9rem 1.25rem;
  }

  &--small {
    width: 40%;
  }

  &:hover {
    box-shadow: 0rem 1rem 1.5rem rgba($clr-primary-dk, 0.262);
    cursor: pointer;
  }
}