@use "../../styles/variables" as *;

.profile {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: $clr-white; 
    padding: 1.25rem; 
    border-radius: 0.5rem; 
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    width: 270px;

  
    &__img {
      border-radius: 50%; 
      width: 9.75rem; 
      height: 9.75rem; 
      object-fit: cover; 
      margin-bottom: 0.625rem; 
    }
  
    &__name {
      font-size: 1.5rem; 
      color: $clr-black; 
      display: flex;
      justify-content:center;
      align-items: center;
    }
  }