@use "../../styles/variables" as *;

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $clr-white;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  width: 16.875rem;
  height: 19.2rem;

  &--dark{
    background-color: $clr-primary-dk;
  }

  &__img {
    border-radius: 50%;
    width: 9.75rem;
    height: 9.75rem;
    object-fit: cover;
    margin-bottom: 0.625rem;
  }

  &__name {
    font-size: 1.5rem;
    color: $clr-black;
    display: flex;
    justify-content: center;
    align-items: center;

    &--dark{
      color: $clr-white;
     }
  }

  &__title {
    text-align: center;
    color: $clr-secondary-dk;
    font-weight: 400;
    
    &--dark{
      color: $clr-white;
     }
  }

  &__edit {
    font-size: 0.5rem;
    text-align: center;
    text-decoration: underline;

    &--dark{
      color: $clr-white;
     }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .profile {
    
    margin: 0 1.25rem;
    width: 13rem;
    height: 15rem;
  }
}
