@use "../../styles/variables" as *;
@use "../../styles/typography";

.querybar {
  display: none;
}

@media screen and (min-width: $tablet-breakpoint) {
  .querybar {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 0.5fr 0.5fr;
    align-items: center;

    &--dark {
      * {
        color: $clr-white;
      }
    }

    &__views {
      width: max-content;
      height: max-content;
      justify-self: flex-start;
      align-self: center;

      &--grid,
      &--column {
        margin: 1rem;
        width: 1rem;
        height: 1rem;
      }
    }

    &__sort,
    &__filter {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;

      &--img {
        margin-left: auto;
      }

      &--text {
        font-size: 0.9rem;
      }
    }

    &__sort {
      justify-self: flex-end;
    }
    &__filter {
      justify-self: flex-start;
      display: flex;
      justify-items: flex-start;
    }
  }
}
