.querybar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;

    &__title{
    }

    &__views{
        width: max-content;
        height: max-content;
        justify-self: center;

        &--grid, &--column{
            margin: 1rem;
        }
    }

    &__sort, &__filter{
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        &--img{
            margin-left: auto;
        }

        &--text{
            font-size: 0.9rem;
        }
    }

}