@use "src/assets/styles/variables" as *;

.navcard {
    background-color: $clr-white;
    padding: 0.6rem 1.5rem;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 9rem;
    height: 8rem;
    border: 2px solid $clr-accent-grey;
    color: $clr-black;

    &:hover {
        transform: scale(1.03);
    }

}

@media screen and (max-width: $tablet-breakpoint) {
}