@use "../../styles/variables" as *;
@use "../../styles/typography";

.page {
  &--dark{
    background-color: $clr-secondary-dk;
  }
  
  &__subtitle--dark{
    color: $clr-white;
  }

  &__subtitle-container {
    display: none;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .page__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .page__subtitle-container {
    display: unset;
  }

  .page__subtitle {
    padding-top: 2.5rem;
    padding-left: 0.75rem;
  }
}
