@use "../../styles/variables" as *;
@use "../../styles/typography";

.main__subtitle {
  display: none;
}

@media screen and (min-width: $desktop-breakpoint) {
  .main__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }
  
  .main__subtitle {
      display: unset;
      padding-left: 1rem;
      padding-top: 1rem;
    }
}
