@use "../../styles/variables" as *;

.navcardlist {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1.8rem;
    text-decoration: none;
    //to check in your screen 
    margin-right: 5rem;

    &__link {
        text-decoration: none;
        
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    .navcardlist {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &__link {
            cursor: default;
        }
    }
}

