@use "../../styles/variables" as *;

.navcardlist {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
  text-decoration: none;
  &__link {
    text-decoration: none;
  }
}

// @media screen and (max-width: $tablet-breakpoint) {}
