@use "../../styles/variables" as *;
@import "../../styles/typography";

.edit-client {
  //background-color: $clr-white;
  font-weight: bold;
  // width: 57rem;
  // height:41rem;
  background-color: $clr-white;
  display: flex;
  width: 90%;
  height: 90%;
  align-items: center;

  &__form {
    font-size: 0.7rem;

    &--leftside {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-top: 0.6rem;
      padding-left: 0.8rem;
      padding-top: 1rem;
      margin-right: 1.1rem;

      label {
        color: black;
        display: flex;
        margin-bottom: 0.3rem;
        width: 100%;
        font-family: "Poppins", sans-serif;
      }

      input {
        margin-bottom: 0.6rem;
        width: 100%;
        height: 1.9rem;
        border: 0.03rem solid #e2e8f0;
        border-radius: 0.2rem;
        font-family: "Poppins", sans-serif;
        padding-left: 1rem;
      }
    }

    &--rightside {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-bottom: 0.6rem;
      padding-left: 1.2rem;
      margin-right: 1.1rem;

      label {
        color: black;
        display: flex;
        margin-bottom: 0.3rem;
        width: 100%;
        font-family: "Poppins", sans-serif;
      }

      input {
        margin-bottom: 0.6rem;
        width: 100%;
        border: 0.03rem solid #e2e8f0;
        height: 1.9rem;
        border-radius: 0.2rem;
        font-family: "Poppins", sans-serif;
        padding-left: 1rem;
      }

    }
     

  &__buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    .save-button {
        display: flex;

      }

     

  }

}

.edit-client--dark {
  background-color: $clr-secondary-dk;

  .edit-client {
    color: white;
    &__form {
      color: white;
      &--leftside {
        label {
          background-color: $clr-secondary-dk;
          color: white;
        }

        input {
          background-color: $clr-secondary-dk;
          color: white;
        }

      }

      &--rightside {
        label {
          background-color: $clr-secondary-dk;
          color: white;
        }

        input {
          background-color: $clr-secondary-dk;
          color: white;
        }

      }
    }
  }
}

.cancel-button a {
    display: none;
  }

.submit-button {
    display:none;
  }  




@media screen and (min-width: $desktop-breakpoint) {
  .edit-client {
    width: 100vw;
    height: 100%;
    display: flex;
    background-color: $clr-white;
    font-weight: normal;

    label {
      font-weight: bold;
    }

    &__form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &--rightside {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-weight: bold;
        height: 100%;
        width:15rem;
        margin: 0;
        padding: 0;


        &--profile{
          border: 2px solid $clr-secondary-lt;
          width: 13.5rem;
          height: 10rem;
          display:flex;
          justify-content: center;
          align-items: center;
        }

        &--button{
          margin: 0.5rem 0;
          height: 2rem;
          width: 5rem;
          border: none;
          border-radius: 0.4rem;
          font-size: 0.7rem;
        }

        
    &__buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      gap:0.5rem;
      width: 13.5rem;

      .submit-button {
        display: flex;
        justify-content: center;
      }

      .cancel-button a {
        display: flex;
        justify-content: center;
      }
    }


        input {
          background-color: $clr-secondary-lt;
          width: 13.5rem;
        }

        label {
            margin-left: 0.5rem;
          }

      &--delete{
        border: none;
        background-color: $clr-white;
        font-weight: 600;
        color: red;
        text-decoration: underline;
        font-size: 0.7rem;
        padding-top: 0.3rem;
        padding-left: 0.3rem;;
      }

      }

      &--leftside {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 0.6rem;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 15rem;

        input {
          background-color: $clr-secondary-lt;
          width: 13.5rem;;
        }

        label {
          width: 17rem;
        }

        select {
          width: 13.5rem;
          background-color: $clr-secondary-lt;
          margin-bottom: 0.6rem;
          border: 0.03rem solid #e2e8f0;
          height: 1.9rem;
          border-radius: 0.2rem;
          padding-left: 1rem;
        }
      }

      .leftRight-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }



  }

  .edit-client--dark {

    .leftRight-wrapper {
      background-color: $clr-primary-dk;
      border: 2px solid $clr-primary-dk;
    }

    .buttons-wrapper {
      background-color: $clr-primary-dk;
      border: 2px solid $clr-primary-dk;
      padding-bottom: 2rem;
    }

    .edit-client {
      &__form {
        &--rightside {
          color: white;
          
        }

          background-color: $clr-primary-dk;
          label {
            background-color: $clr-primary-dk;
            color: white;
            border-color: #405066;
          }

          input {
            background-color: $clr-primary-dk;
            color: white;
          }
        }

        &--leftside {
          background-color: $clr-primary-dk;
          label {
            background-color: $clr-primary-dk;
            color: white;
          }

          input {
            background-color: $clr-primary-dk;
            color: white;
            border-color: #405066;
          }
         
        }
      }
    }
  }
}
}