@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.item-container {
  margin: 1rem;
  border-radius: 0.5rem;

  &--light {
    background-color: $clr-white;
    border: 0.1rem solid $clr-primary-accent;
    box-shadow: 0rem 0rem 1.5rem rgba($clr-primary-accent, 0.107);
  }

  &--dark {
    *{color:$clr-white;
    background-color: $clr-primary-dk;
  &::placeholder{color:$clr-white}}
    background-color: $clr-primary-dk;
    border: 0.15rem solid $clr-primary-accent;
    box-shadow: 0rem 0rem 1.5rem rgba($clr-primary-accent, 0.107);
  }

  &__input-box-- {
    border:none;
    color: $clr-primary-lt;
    -webkit-appearance: none;
  }

  &__input-box--edit-mode {
    border:0.1rem solid $clr-accent-grey;
  

  }
}
.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  

.item {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
 
}
}

.radio-container {
  display: flex;
}
