@use "../../styles/variables" as *;

.layout {
  height: 100vh;
  width: 100vw;
  background-color: $clr-secondary-lt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width:$desktop-breakpoint) {

  .layout{
    display: flex;
  }
}