@use "../../styles/variables" as *;
@use "../../styles/typography" as *;



.clients{

    &__page-results--arrow {
        display:none;
    }

    width:100vw;
    display: flex;
    flex-direction: column;

    &--light{
        background-color: $clr-secondary-lt;
    }

    &--dark{
        background-color: $clr-secondary-dk;
    }

    &__list{
        height:60%;
        margin: 2rem;
    }

    &__heading{
        display: flex;
        width:9rem;
        height:3.5rem;
        align-items: center;
        font-size: 0.7rem;
    }
    &__page-results--index {
        text-align: center;
        color: $clr-accent-grey;
        margin-right: 0.5rem;
        width: 6.5rem;
        font-size: 0.7rem;
    }

    &__page-results {
        margin-left:0.8rem;
        margin-right: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        label {
            color: $clr-accent-grey;
        }

        &--arrow {
            display:unset;
            color: $clr-accent-grey;
            width: 1rem;
            opacity: 40%;
            }
    }
}

#results-per-page {
    width: 2.5rem;
    height: 2rem;
    padding:0.2rem;
    font-size: 0.5rem;        

}


@media screen and (min-width:$desktop-breakpoint) {
    .clients {

        &__page-results--index {
            text-align: center;
            color: $clr-accent-grey;
            margin-right: 1rem;
            width: 6.5rem;
        }

        &__page-results {
            margin-left:0.8rem;
            margin-right: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            label {
                color: $clr-accent-grey;
                padding-left: 11rem;
            }

            &--arrow {
                display:unset;
                color: $clr-accent-grey;
                width: 1.8rem;
                opacity: 40%;
                }
        }
    }
}


