@use "../../styles/variables" as *;

.clients{

    width:100vw;
    display: flex;
    flex-direction: column;

    &--light{
        background-color: $clr-secondary-lt;
    }

    &--dark{
        background-color: $clr-secondary-dk;
    }

    &__list{
        height:60%;
        margin: 2rem;
    }
}

.clients__page-results {
    display: flex;
    flex-direction: row;
    
}
