@use "../../styles/variables" as *;
.main{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;

    &--light{
        background-color: $clr-secondary-lt;
    }

    &--dark{
        background-color: $clr-secondary-dk;
    }

    &__container{
        margin: 1.5rem 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $clr-white;
        width: 19rem;
        height: 9rem;
        border-radius: 0.5rem;
    }
}

.button--large{
    margin-left: 1rem;
}




@media screen and (min-width: $tablet-breakpoint) {
    .button--large{
        display: none;
    }

    .main{

        &__container{
            display: none;


        }
    }


}

@media screen and (min-width: $desktop-breakpoint) {

    .main{

        &__container{
            display: none;


        }
    }
}