@use "../../styles/variables" as *;

.settings {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;

    &--light {
        background-color: $clr-secondary-lt;
    }

    &--dark {
        background-color: $clr-secondary-dk;
    }

    &__card {
        margin: 1.5rem 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $clr-white;
        width: 19rem;
        height: 7rem;
        border-radius: 0.5rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin-bottom: 2rem;
    }
}



@media screen and (min-width: $tablet-breakpoint) {

    .settings {

        &__card {
            display: none;
        }

        &__container {
            padding: 2rem 3.5rem;
        }
    }


}

@media screen and (min-width: $desktop-breakpoint) {

    .settings {

        &__card {
            display: none;
        }

        &__container {
            padding: 2rem 3.5rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}