@use "../../styles/variables" as *;
@use "../../styles/typography";

.resource-card-list {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
   

   
}

@media screen and (min-width: $tablet-breakpoint) {
    .resource-card-list {

        margin-top: 0rem;
        
       
    }
}

// @media screen and (min-width: $desktop-breakpoint) {
//     .resource-card-list {
//         &__container {
//             overflow-y: scroll;
//             height: 18rem;
//             padding: 0.5rem;
//         }

//         &__titles {
//             display: grid;
//             grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
//             gap: 1rem;

//             &--spheadings {
//                 margin-left: 1rem;
//             }

//             p {
//                 font-size: 0.6rem;
//             }
//         }
//     }
// }

// @media screen and (min-width: 1440px) {
//     .resource-card-list {
//         &__container {
//             overflow-y: scroll;
//             height: 10.5rem;
//             padding: 0.5rem;
//         }
//     }
// }