@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

@import "react-calendar/dist/Calendar.css"; //react-calendar default stylesheet
@import "react-datepicker/dist/react-datepicker.css";


.staff-edit {
  display: none;
}

@media screen and (min-width: $tablet-breakpoint) {
  .calendar-desktop {
    display: none;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .staff-edit {
    width: 100vw;
    height: 100%;
    display: flex;
    background-color: $clr-white;
    font-weight: normal;

    label {
      font-weight: bold;
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      margin-top: 3rem;
      margin-bottom: 1rem;

      .button--undefined {
        width: 8.5rem;
      }

      .save-button {
        display: block;
        margin-right: 0.5rem;
      }

      .submit-button a {
        display: none;
        justify-content: center;
      }

      .cancel-button a {
        display: flex;
        justify-content: center;
      }
    }

    &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      font-size: 0.7rem;
      padding: 0.8rem;

      &--rightside {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: $clr-secondary-lt;
        font-weight: bold;
        align-items: start;
        margin-bottom: 0.6rem;
        padding-left: 1rem;


        
      input,
      select {
        margin-bottom: 0.6rem;
        width: 100%;
        border: 0.03rem solid #e2e8f0;
        height: 1.9rem;
        border-radius: 0.2rem;
        padding-left: 1rem;
      }
      
        input {
          background-color: $clr-secondary-lt;
        }

        select {
          background-color: $clr-secondary-lt;

          width: 14rem;
          margin-left: 0.5rem;
        }

        label {
          margin-left: 0.5rem;
          color: black;
          display: flex;
          margin-bottom: 0.3rem;
          width: 100%;
        }

        option {
          background-color: $clr-secondary-lt;
        }
      }

      &--leftside {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
        font-size: 0.6rem;
        margin-bottom: 2rem;
        margin-top: 0.6rem;
        padding-left: 1.2rem;
        padding-top: 1rem;
        margin-right: 1.1rem;

        background-color: $clr-secondary-lt;

        
      input,
      select {
        margin-bottom: 0.6rem;
        height: 1.9rem;
        border: 0.03rem solid #e2e8f0;
        border-radius: 0.2rem;
        padding-left: 1rem;
      }

        input {
          background-color: $clr-secondary-lt;
          width: 17rem;
        }

        select {
          background-color: $clr-secondary-lt;
          width: 17rem;
        }

        option {
          background-color: $clr-secondary-lt;
        }

        label {
          width: 17rem;
          color: black;
          display: flex;
          margin-bottom: 0.3rem;
        }
      }

      .leftRight-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }

      .calendar-desktop,
      .calendar-title {
        display: block;
        width: 14rem;
        background-color: $clr-secondary-lt;
        border: none;
        margin-bottom: 1.45rem;
      }
    }

    .headerForm-container {
      background-color: $clr-secondary-lt;
      width: 100%;
      height: 100vh;

      .staff-edit__header {
        width: 100%;
      }
    }

    .datepicker {
      display: none;
    }

    .datepicker-label {
      display: none;
    }
  }

  .staff-edit--dark {
    .headerForm-container {
      background-color: $clr-secondary-dk;
      width: 100%;
      height: 100vh;
    }

    .leftRight-wrapper {
      background-color: $clr-primary-dk;
      border: 2px solid $clr-primary-dk;
    }

    .buttons-wrapper {
      background-color: $clr-primary-dk;
      border: 2px solid $clr-primary-dk;
      padding-bottom: 2rem;
    }

    .staff-edit {
      &__form {
        &--rightside {
          display: flex;
          flex-direction: column;
          align-items: start;
          margin-bottom: 0.6rem;
          padding-left: 1.2rem;
          margin-right: 1.1rem;
          color: white;
          

          label {
            color: black;
            display: flex;
            margin-bottom: 0.3rem;
            width: 100%;
          }

          
      input,
      select {
        margin-bottom: 0.6rem;
        width: 100%;
        border: 0.03rem solid #e2e8f0;
        height: 1.9rem;
        border-radius: 0.2rem;
        padding-left: 1rem;
      }

          option {
            color: black;
          }
          .calendar-desktop {
            background-color: $clr-primary-dk;
            color: white;

            span {
              color: white;
            }
            abbr {
              color: white;
            }

            button {
              background-color: $clr-primary-dk;
              color: white;
              color: white;
            }

            .react-calendar__tile--rangeStart {
              background-color: $clr-secondary-dk;
            }

            .react-datepicker-wrapper > .react-datepicker__input-container input {
              all: unset !important;
            }
      
            .react-datepicker-wrapper
              > .react-datepicker__input-container
              input[placeholder] {
              font-family: "Poppins";
            }

            .datepicker {
              width: 100%;
              border: 0.03rem solid #e2e8f0;
              height: 1.9rem;
              border-radius: 0.2rem;
              padding-left: 1.2rem;
              margin-bottom: 0.6rem;
              font-size: 0.8rem;
              display: flex;
              align-items: center;
              font-weight: lighter;
            }
      

            button:disabled {
              background-color: $clr-border-dk;
            }

            button:hover,
            abbr:hover {
              background-color: $clr-secondary-dk;
            }
          }


          background-color: $clr-primary-dk;
          label {
            background-color: $clr-primary-dk;
            color: white;
            border-color: #405066;
          }

          select {
            background-color: $clr-primary-dk;
            color: white;
            border-color: #405066;
          }

          input {
            background-color: $clr-primary-dk;
            color: white;
          }
        }

        &--leftside {
          background-color: $clr-primary-dk;
          label {
            background-color: $clr-primary-dk;
            color: white;
          }

          select {
            background-color: $clr-primary-dk;
            color: white;
            border-color: #405066;
          }

          input {
            background-color: $clr-primary-dk;
            color: white;
            border-color: #405066;
          }
          option {
            color: black;
          }
        }
      }
    }
  }

  .staff-edit--dark {
    background-color: $clr-primary-dk;
  
    .staff-edit {
      color: white;
      &__form {
        color: white;
        &--leftside {
          label {
            background-color: $clr-primary-dk;
            color: white;
          }
  
          select {
            background-color: $clr-primary-dk;
            color: white;
          }
  
          input {
            background-color: $clr-primary-dk;
            color: white;
          }
  
          option {
            color: white;
          }
        }
  
        &--rightside {
          label {
            background-color: $clr-primary-dk;
            color: white;
          }
  
          select {
            background-color: $clr-primary-dk;
            color: white;
          }
  
          input {
            background-color: $clr-secondary-dk;
            color: white;
          }
          option {
            color: white;
          }
        }
      }
    }
  }
}
