@use "../../styles/variables" as *;

.settings-card {
    background-color: $clr-white;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    margin: 1.25rem;
    width: 300px;
  
    &__section {
      margin-bottom: 15px;
    }
  
    &__section-title {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    &__toggle {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      background-color: red;

      &--slider{
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $clr-black;
        border-radius: 34px;
        transition: 0.4s;

        &:before{
            position: absolute;
            content: '';
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            border-radius: 50%;
            transition: 0.4s;
        }
      }

    input {
        opacity: 0;
        width: 0;
        height: 0;   
    }

    input:checked + &__slider {
        background-color: #2196f3;
    
        &:before {
          transform: translateX(26px);
        }
      }

    }
}


  