@use "../../styles/variables" as *;

.settings-card {
  background-color: $clr-white;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  margin: 1rem;
  width: 19rem;
  height: 19rem;
  padding: 1.5rem;

  &--dark {
    background-color: $clr-primary-dk;
  }

  &__button {
    display: flex;
    margin-left: 0.4rem;
  }

  &__section {
    margin-bottom: 0.6rem;

  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;

    &--dark {
      color: $clr-white;
    }
  }

  &__container-mode {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 1.2rem;
    margin-left: 0.4rem;
  }

  &__icon {
    width: 0.87rem;
    height: auto;

    &--sun {
      margin-right: 0.6rem;
    }

    &--moon {
      margin-left: 0.65rem;
    }
  }

  &__container-theme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.3rem;
    padding-bottom: 0.9rem;
  }

  &__option {
    color: $clr-secondary-dk;
    font-size: 1rem;

    &--dark {
      color: $clr-white;
    }
  }

  &__radio {
    &--label {
      margin-left: 0.5rem;
      margin-right: 2rem;
    }
  }

  &__radio-container {
    display: flex;
    align-items: center;
  }

}

// @media screen and (min-width: $tablet-breakpoint) {
//   .settings-card {
//     width: 17rem;
//     height: 17rem;
//     margin: 0.5rem;
//   }
// }

@media screen and (min-width: $desktop-breakpoint) {

  .settings-card {
    width: 24.5rem;
    height: auto;
    padding: 2rem;

    &__section {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;

      &__container-mode {
        display: flex;
        flex-direction: row;
        justify-content: end;
      }
    }

    &__title {
      font-size: 0.9rem;
    }

    &__radio-container {
      display: flex;
      justify-content: space-between;
    }

    &__radio {

      &--label {
        margin-right: 0;
      }
    }

    &__option {
      margin-left: 2.5rem;
      font-size: 0.85rem;
    }

    &__container-theme {
      padding-top: 0;
      padding-bottom: 0;
    }

    &__button {
      margin-top: 1.9rem;
    }
  }

  @media screen and (min-width: 1440px) {

    .settings-card {
      width: 27rem;
      height: auto;

      &__title {
        font-size: 1rem;
      }

      &__option {
        font-size: 0.98rem;
      }
    }
  }





}