@use "../../styles/variables" as *;

.header {
  padding: 1rem 0.6rem;
  display: flex;
  flex-direction: column;

  &--light {
    background-color: $clr-primary-lt;

    &__title {
      color: $clr-white;
    }
  }

  &--dark {
    background-color: $clr-primary-dk;

    &__title {
      color: $clr-white;
    }
  }

  &__logo {
    align-self: center;
    width: 7.8rem;
  }

  &__button{
    display:none;
  }

  &__dropdown{
    display: none;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .header {
    background-color: $clr-white;
    display: flex;
    flex-wrap: nowrap;
    height: 300px;

    &__container{
      display: flex;
      flex-direction: column;
    }
    &--light {
      background-color: $clr-white;
      
      &__title {
        color: $clr-black;
        // margin-left: 3rem;
        font-size: 1em;
      }
    }
  
    &--dark {
      background-color: $clr-primary-dk;

      
    &__title {
      color: $clr-white;
      margin-left: 3rem;
    }
    }

    &__logo {
      display: none;
    }

    &__dropdown{
      display: unset;
      justify-self: flex-start;
      margin-left: 3rem;
      height: 2rem;
      width: 4rem;
      border: none;
      border-bottom: 3px solid purple;
    }
  }
.header__button{
  display: unset;
  display: flex;
  background-color: red;
}
}
