@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.header {
  padding: 1rem 0.6rem;
  display: flex;
  flex-direction: column;


  &--light {
    background-color: $clr-primary-lt;

    &__title {
      color: $clr-white;
      margin: 0 1rem;
      width: 90%;
    }
  }

  &--modern{
    font-family: 'Poppins', 'PT Sans' sans-serif;
  }

  &--tech{
    font-family:'Courier New', Courier, monospace;
  }

  &--dark {
    background-color: $clr-primary-dk;

    &__title {
      color: $clr-white;
      margin: 0 1rem;
      width: 90%;
    }
  }

  &__logo {
    align-self: center;
    width: 7.8rem;
  }

  &__button {
    display: none;
  }

  &__dropdown {
    &--light, &--dark{
      display: none;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .header {
    background-color: $clr-white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 0;

    &__container {
      display: flex;
      flex-direction: column;
    }

    &--light {
      background-color: $clr-white;
      box-shadow: 0rem 0.4rem 0.8rem 0rem $clr-accent-grey;


      &__title {
        color: $clr-black;
        margin-left: 3rem;
        font-size: 2em;
      }
    }

    &--dark {
      background-color: $clr-primary-dk;
      box-shadow: 0rem 0.4rem 0.8rem 0rem $clr-primary-dk;

      &__title {
        color: $clr-white;
        margin-left: 3rem;
      }
    }

    &__logo {
      display: none;
    }

    &__dropdown {
      display: unset;
      justify-self: flex-end;
      margin-left: 3rem;
      height: 2rem;
      width: max-content;
      border: none;
      outline: 0;
      font-weight: bold;
      font-size: 1rem;

      &--light{
        background-color: $clr-white;
        border-bottom: 0.25rem solid $clr-accent-purple;
      }

      &--dark{
        background-color: $clr-primary-dk;
        color: $clr-white;
        border-bottom: 0.25rem solid $clr-white;
      }
    }

    &__button {
      display: unset;
      margin-right: 1rem;
    }
  }
}