.nav{
    display: none;
    font-family:  'Poppins', sans-serif;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #8AAAE5;
    border-radius: 0 30px 0 0;
    width: 307px;
    height: 100%;
    align-items: center;
    font-size: 18px;
    padding: 157px 0 0 0;
    color: #ffffff10;

    &__list{
        display: flex;
        flex-direction: column;
        width: 100%;

        
        &--item{
        display: flex;
        padding: 20px; 
        }

        &--item:hover{
            background-color: #2A5FC2;
        }
    }

    &__image {
        width: 16px;
        height: 17.73px;
        margin-right: 40px;
        margin-left: 40px;
    }
}

ul {
  list-style: none;
}

a:link, a:visited{
    text-decoration: none;
}

hr {
margin: 30px 30px;
width: 75%;

}
@media screen and (min-width: 1024px) {
    .nav{
        display: flex;
    }
}