@use '../../styles/variables' as *;
@use '../../styles/typography' as *;

.nav{
    display: none;
    flex-direction: column;
    border-radius: 0 1.8rem 0 0;
    width: 16rem;
    height: 100%;
    align-items: center;
    font-weight: lighter;
    padding: 2.6rem 0 ;

    &--light {
        background-color: $clr-primary-lt;
    }

    &--dark {
        background-color: $clr-primary-dk;
        border-radius: 0;
    }
    
    &__logo {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        padding-bottom: 2rem;
    }

    &__list{
        display: flex;
        flex-direction: column;
        width: 100%;

        &--item{
        display: flex;
        padding: 1.25rem;
        align-items: center;
        color: $clr-secondary-lt;
        font-family: 'Poppins', sans-serif;
        font-size: .80rem;
        }

        &--item:hover{
            background-color: $clr-primary-accent;
            color:$clr-white;
        }
    }

    &__image {
        width: 1rem;
        height: 1.1rem;
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }
}

ul {
  list-style: none;
}

a:link, a:visited{
    text-decoration: none;
}

hr {
margin: 1.8rem 1.8rem;
width: 75%;

}
@media screen and (min-width: $desktop-breakpoint) {
    .nav{
        display: flex;
    }

    .nav__image--home {
        width: 1.8rem;
        height: 1.8rem;
        padding-right: 0.3rem;
        margin-right: 1.7rem;
        margin-left: 2.3rem;
    }
}