@use "../../styles/variables" as *;
@use "../../styles/typography" as *;


.edit-page{
    background-color:$clr-secondary-lt;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &--container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

}


