@use '../../../styles/variables' as *;
@use '../../../styles/typography' as *;

.staffnavlist {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
    text-decoration: none;
    

    &__link {
        text-decoration: none;
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    .staffnavlist {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 1.7rem;

        &__link {
            cursor: default;
        }
    }
}