@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.footer{
    height: 6.25rem;
    background-color: $clr-white;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;

    &__button{
        border: none;
        background-color: $clr-white;

        &--image{
            width: 2rem;
        }
    }

}
//This can be used for the toggle-function in order to change the footer into dark mode by using this class.
.footer--darkMode {
    background-color: $clr-primary-dk;

    &__button{
        border: none;

        &--image{
            filter: brightness(100);
        }
    }

}

@media screen and (min-Width: 768px) {

    .footer{
        display: none;
    }
}