@import "../../styles/_variables.scss";
@import "react-calendar/dist/Calendar.css"; //react-calendar default stylesheet
@import "react-datepicker/dist/react-datepicker.css";

@media screen and (min-width: $mobile-breakpoint) {
  .book-appointment {
    background-color: $clr-white;
    font-weight: bold;

    &__form {
      font-size: 14px;

      &--leftside {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

        label {
          color: black;
          display: flex;
          margin-bottom: 2px;
          width: 250px;
        }

        input {
          margin-bottom: 10px;
          width: 250px;
          border: 0.5px solid $clr-accent-grey;
          border-radius: 3px;
        }

        select {
          margin-bottom: 10px;
          width: 250px;
          border: 0.5px solid $clr-accent-grey;
          border-radius: 3px;
        }
      }

      &--rightside {
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
          color: black;
          display: flex;
          margin-bottom: 2px;
          width: 250px;
        }

        input {
          margin-bottom: 10px;
          width: 250px;
          border: 0.5px solid $clr-accent-grey;
          border-radius: 3px;
        }

        select {
          margin-bottom: 10px;
          width: 250px;
          border: 0.5px solid $clr-accent-grey;
          border-radius: 3px;
        }
      }
    }

    .calendar-desktop {
      display: none;
    }
  }

  .save-button {
    display: none;
  }

  .submit-button {
    a {
      display: flex;
      justify-content: center;
    }
  }
  .cancel-button {
    a {
      display: flex;
      justify-content: center;
    }
  }
}
@media screen and (min-width: $tablet-breakpoint) {
  .calendar-desktop {
    display: none;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .book-appointment {
    background-color: $clr-secondary-lt;

    &__form {
      display: flex;
      flex-direction: row;

      .calendar-desktop {
        display: block;
        background-color: $clr-secondary-lt;
        border: none;
      }

      &--leftside {
        width: 450px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        label {
          color: black;
          display: flex;
          width: 450px;
          margin-bottom: 2px;
        }

        input {
          margin-bottom: 10px;
          width: 450px;
        }

        select {
          color: black;
          width: 450px;
        }

        option {
          width: 450px;
        }
      }

      &--rightside {
        width: 450px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        select {
          color: black;
          width: 450px;
        }

        option {
          width: 450px;
        }

        label {
          width: 450px;
        }
      }
    }
  }

  .save-button {
    display: block;
  }

  .submit-button {
    display: none;
  }
}
