@use "../../styles/variables" as *;
@import "../../styles/typography";

@import "react-calendar/dist/Calendar.css"; //react-calendar default stylesheet
@import "react-datepicker/dist/react-datepicker.css";

.container {
  width: 100%;
}
.book-appointment {
  background-color: $clr-white;
  font-weight: bold;

  .headerForm-container {
    width: 100%;
    height: 100vh;
  }

  &__form {
    font-size: 0.7rem;

    &--leftside {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-top: 0.6rem;
      padding-left: 1.2rem;
      padding-top: 1rem;
      margin-right: 1.1rem;

      label {
        color: black;
        display: flex;
        margin-bottom: 0.3rem;
        width: 100%;
      }

      input,
      select {
        margin-bottom: 0.6rem;
        width: 100%;
        height: 1.9rem;
        border: 0.03rem solid #e2e8f0;
        border-radius: 0.2rem;
        padding-left: 1rem;
      }
    }

    &--rightside {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-bottom: 0.6rem;
      padding-left: 1.2rem;
      margin-right: 1.1rem;

      label {
        color: black;
        display: flex;
        margin-bottom: 0.3rem;
        width: 100%;
      }

      input,
      select {
        margin-bottom: 0.6rem;
        width: 100%;
        border: 0.03rem solid #e2e8f0;
        height: 1.9rem;
        border-radius: 0.2rem;
        padding-left: 1rem;
      }

      .react-datepicker-wrapper > .react-datepicker__input-container input {
        all: unset !important;
      }

      .react-datepicker-wrapper
        > .react-datepicker__input-container
        input[placeholder] {
        font-family: "Poppins";
      }

      .datepicker {
        width: 100%;
        border: 0.03rem solid #e2e8f0;
        height: 1.9rem;
        border-radius: 0.2rem;
        padding-left: 1.2rem;
        margin-bottom: 0.6rem;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        font-weight: lighter;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    .save-button {
      display: none;
    }

    .submit-button {
      margin-right: 1rem;
    }
  }

  .calendar-desktop {
    display: none;
  }
}

.book-appointment--dark {
  background-color: $clr-secondary-dk;

  .book-appointment {
    color: white;
    &__form {
      color: white;
      &--leftside {
        label {
          background-color: $clr-secondary-dk;
          color: white;
        }

        select {
          background-color: $clr-secondary-dk;
          color: white;
        }

        input {
          background-color: $clr-secondary-dk;
          color: white;
        }

        option {
          color: white;
        }
      }

      &--rightside {
        label {
          background-color: $clr-secondary-dk;
          color: white;
        }

        select {
          background-color: $clr-secondary-dk;
          color: white;
        }

        input {
          background-color: $clr-secondary-dk;
          color: white;
        }
        option {
          color: white;
        }
      }
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .calendar-desktop {
    display: none;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .book-appointment {
    width: 100vw;
    height: 100%;
    display: flex;
    background-color: $clr-white;
    font-weight: normal;

    label {
      font-weight: bold;
    }

    &__buttons {
      display: flex;
      flex-direction: row;

      flex-wrap: nowrap;
      width: 100%;

      justify-content: center;
      margin-top: 3rem;

      .button--undefined {
        width: 8.5rem;
      }

      .save-button {
        display: block;
        margin-right: 0.5rem;
      }

      .submit-button a {
        display: none;
        justify-content: center;
      }

      .cancel-button a {
        display: flex;
        justify-content: center;
      }
    }

    &__form {
      width: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;

      &--rightside {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: $clr-secondary-lt;
        font-weight: bold;

        input {
          background-color: $clr-secondary-lt;
        }

        select {
          background-color: $clr-secondary-lt;

          width: 14rem;
          margin-left: 0.5rem;
        }

        label {
          margin-left: 0.5rem;
        }

        option {
          background-color: $clr-secondary-lt;
        }
      }

      &--leftside {
        display: flex;

        flex-direction: column;
        justify-content: space-evenly;
        font-size: 0.6rem;
        margin-bottom: 2rem;

        background-color: $clr-secondary-lt;

        input {
          background-color: $clr-secondary-lt;
          width: 17rem;
        }

        select {
          background-color: $clr-secondary-lt;
          width: 17rem;
        }

        option {
          background-color: $clr-secondary-lt;
        }

        label {
          width: 17rem;
        }
      }

      .leftRight-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }

      .calendar-desktop,
      .calendar-title {
        display: block;
        width: 14rem;
        background-color: $clr-secondary-lt;
        border: none;
        margin-bottom: 1.45rem;
      }
    }

    .headerForm-container {
      background-color: $clr-secondary-lt;
      width: 100%;
      height: 100vh;

      .book-appointment__header {
        width: 100%;
      }
    }

    .datepicker {
      display: none;
    }

    .datepicker-label {
      display: none;
    }
  }

  .book-appointment--dark {
    .headerForm-container {
      background-color: $clr-secondary-dk;
      width: 100%;
      height: 100vh;
    }

    .leftRight-wrapper {
      background-color: $clr-primary-dk;
      border: 2px solid $clr-primary-dk;
    }

    .buttons-wrapper {
      background-color: $clr-primary-dk;
      border: 2px solid $clr-primary-dk;
      padding-bottom: 2rem;
    }

    .book-appointment {
      &__form {
        &--rightside {
          color: white;
          option {
            color: black;
          }
          .calendar-desktop {
            background-color: $clr-primary-dk;
            color: white;

            span {
              color: white;
            }
            abbr {
              color: white;
            }

            button {
              background-color: $clr-primary-dk;
              color: white;
              color: white;
            }

            .react-calendar__tile--rangeStart {
              background-color: $clr-secondary-dk;
            }

            button:disabled {
              background-color: $clr-secondary-dk;
            }

            button:hover,
            abbr:hover {
              background-color: $clr-secondary-dk;
            }
          }


          background-color: $clr-primary-dk;
          label {
            background-color: $clr-primary-dk;
            color: white;
            border-color: #405066;
          }

          select {
            background-color: $clr-primary-dk;
            color: white;
            border-color: #405066;
          }

          input {
            background-color: $clr-primary-dk;
            color: white;
          }
        }

        &--leftside {
          background-color: $clr-primary-dk;
          label {
            background-color: $clr-primary-dk;
            color: white;
          }

          select {
            background-color: $clr-primary-dk;
            color: white;
            border-color: #405066;
          }

          input {
            background-color: $clr-primary-dk;
            color: white;
            border-color: #405066;
          }
          option {
            color: black;
          }
        }
      }
    }
  }
}
