@use "../../styles/variables" as *;

.login {
    display: flex;
    flex-direction: column;

    &__logo {
        align-self: center;
        padding: 2rem;
    }

    &__welcome {
        display: flex;
        align-self: center;
        justify-content: center;
        font-weight: 600;
        font-size: 2rem;
    }

    &__message {
        display: flex;
        align-self: center;
        justify-content: center;
        text-wrap: wrap;
        font-size: 0.95rem;
        color: #7B7B7B;
    }

   

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        
    

    &-label {
        margin-bottom:1rem;
        font-size:0.85rem;
        font-weight:bold;
    }
    &-container {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0;
        &-button{
            
            
            width: 100%;
        }

    }
    &-input {
        padding:0.75rem 0;
        border-radius: 0.3rem;
        border: 0.06rem  $clr-accent-grey solid; 
        
       

    }
    }

  
}
