@use '../../../styles/variables' as *;
@use '../../../styles/typography' as *;

.staffnavcard {
    display: flex;
    width: 100%;
    padding: 0.6rem 1rem;
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;

    &--light {
        background-color: $clr-white;
        border: solid 0.12rem $clr-accent-grey;
    }

    &--dark {
        background-color: $clr-primary-dk;
        border: solid 0.12rem $clr-white;
    }

    &__name {
        font-weight: 600;
        font-size: 1.1rem;

        &--dark {
            color: $clr-white;
        }
    }

    &__arrow {
        width: 1.7rem;
        height: auto;
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    .staffnavcard {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 16rem;
        height: 19rem;
        border: none;
        box-shadow: 0rem 1rem 1.5rem rgba($clr-primary-accent, 0.107);

        &__name {
            text-align: center;
            margin-bottom: 3rem;
            font-size: 1.3rem;
            font-weight: 600;
        }

        &__arrow {
            display: none;
        }

    }
}