@use "../../styles/variables" as *;
@use "../../styles/typography";

.clientprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  overflow-y: scroll;
}

.clientcard {
  display: flex;
  flex-direction: column;
  background-color: $clr-white;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  width: 16.875rem;
  height: 38rem;
  margin: 1rem 0rem;

  &--dark {
    background-color: $clr-primary-dk;
  }

  &__title {
    font-size: 0.75rem;
    text-decoration: underline;
    text-align: left;
    padding-bottom: 1rem;

    &--dark {
      color: $clr-white;
    }
  }

  &__desktop {
    display: none;
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 400;

    &--dark {
      color: $clr-white;
      font-weight: bold;
    }
  }

  &__info {
    font-size: 1rem;
    font-weight: 400;
    color: $clr-accent-grey;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .clientprofile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1.25rem;
  }

  .clientcard {
    height: 20rem;
    width: 11rem;

    &__picture--staffBooking {
      width: 11rem;
      height: 20rem;
    }

    &__title {
      text-decoration: none;
    }

    &__subtitle,
    &__info {
      font-size: 0.75rem;
    }

    &__desktop {
      display: unset;
    }

    &__mobile {
      display: none;
    }

    &__container {
      display: flex;
      flex-direction: column;
      background-color: $clr-white;
      padding: 1.25rem;
      border-radius: 0.5rem;
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
      width: 11rem;
      height: 20rem;

      &--dark {
        background-color: $clr-primary-dk;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .clientcard {
    width: 18rem;

    &__picture--staffBooking {
      width: 18rem;
    }

    &__container {
      width: 18rem;
    }
  }
}
